{% extends "layout.html" %}
{% include "offcanvas.html" %}

{% block content %}
<div class="container justify-content-center">
  <div class="card mb-3 rounded-5" style="max-width: 1200px;">
    <div class="row g-0 border-light">
      <div class="col-md-4">
        <h1>Olá, seja Bem-vindo</h1>
        <div class="d-flex aling-items-center">
          <p class="card-subtitle">A nossa ideia ainda está em construção, porém saiba que seria uma honra ter você como um dos nossos primeiros usuários</p>
        </div>
        <small></small>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <form method="post">
            {{ form.hidden_tag() }}
              <fieldset class="form-group vstack gap-3 md-5 pb-5">
  
                <div class="form-outline ">
                  {% if form.username.errors %}
                  {{ form.username(class="form-control form-control-lg is-invalid") }} 
                    <div class="invalid-feedback">
                        {% for error in form.username.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                  {{ form.username.label() }}{{ form.username(class="form-control form-control-lg" ) }} 
                {% endif %}
                </div>
  
                <div class="form-outline ">
                  {% if form.email.errors %}
                  {{ form.email(class="form-control form-control-lg is-invalid") }} 
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                  {% else %}
                    {{ form.email.label() }}{{ form.email(class="form-control form-control-lg" ) }} 
                  {% endif %}
                </div>
  
                <div class="form-outline ">
                  {% if form.password.errors %}
                  {{ form.password(class="form-control form-control-lg is-invalid") }} 
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                  {% else %}
                    {{ form.password.label() }}{{ form.password(class="form-control form-control-lg" ) }} 
                  {% endif %}
                </div>
  
                <div class="form-outline ">
                  {% if form.confirm_password.errors %}
                  {{ form.confirm_password(class="form-control form-control-lg is-invalid") }} 
                    <div class="invalid-feedback">
                        {% for error in form.confirm_password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                  {% else %}
                    {{ form.confirm_password.label() }}{{ form.confirm_password(class="form-control form-control-lg" ) }} 
                  {% endif %}
                </div>
              </fieldset>
  
            <button class="w-100 mb-2 btn btn-lg rounded-3 btn-warning" type="submit">Sign up</button>
              <small class="text-muted text-center">By clicking Sign up, you agree to the terms of use.</small>
            </button>
  
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}